/* Estilo para los botones */

.custom-button {
    width: 300px; 
    height: 60px; 
    color: white;
    background-color: #343a40; 
    border-radius: 10px; 
    transition: background-color 0.3s; 
    
}

#qrCodeImage {
    max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
    height: auto; /* Mantiene la relación de aspecto */
    margin:0 auto; 
}

#numericCodeDisplay {
    font-size: 2em; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: bold; /* Hacer el texto más llamativo */
}

.custom-button:hover {
    background-color: #495057; 
}

.d-flex {
    justify-content: center; 
    margin-top: 150px; 
}


.modal-header {
    background-color: #737578; 
    border-top: none; 
    color: white;

}
